.navbar{
    background-color: transparent !important;
    box-shadow: none !important;
}

.navbar ul li{

}

.navbar-scroll{
    background-color: rgba(34, 35, 40, 0.99999) !important;
    box-shadow:  1px 2px rgb(0 0 0 / 5%) !important;
}

.navbar-scroll ul li{
    color: #fff !important;
}

.main-wrapper{
    position: relative !important;
    top:-120px !important;
    z-index: -1000000 !important;
}

.navbar-brand img{
    margin: 0px !important;
    padding: 0px !important;
}

.clients-logo .img-fluid{
    width: 600px;
    height: auto;
    max-height: 466px;
}